body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: helvetica, arial;
	background: #ffd9d6;
	color: #111;
}

.wrapper a {
	display: block;
	margin-top: 53px;
	text-align: center;
}

.quiz-frame {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	border: 0;
}
